@page "/nekopage/{pageId}"
@rendermode InteractiveServer

@inject NekoClient nekoClient
@inject NavigationManager nav
@inject WalletClient walletClient


<PageTitle>Подробности</PageTitle>

@if (nekoPost is null)
{
	<h2 class="alert-heading">Ошибка!</h2>
	<h3 class="alert alert-danger" role="alert">Данной страницы не существует</h3>
	<img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Breadindia.jpg" alt="ЭЭЭЭЭЭЭЭЭЭЭ" style="height: 50vh;" />
}
else
{
	<div class="card mb-4 mh-50 box-shadow">
		<div class="card-header" style="display: flex; flex-direction: column;">
			<div style="display: flex; justify-content:start">
				<img style="height: 50vh; padding: 1vh" src="@nekoPost.Image" alt="ЭЭЭЭЭЭЭЭЭЭЭ" />
				<div style="display: flex; flex-direction: column; justify-content: space-between">
					<button 
						style="height: 12vh; width: 20vw; margin: 1vh; margin-left: 4vw; font-size: 4vh; line-height: 10vh;"
						class="btn btn-outline-secondary" 
						@onclick="Buy">КУПИТЬ</button>
					<a  
						style="height: 12vh; width: 20vw; margin: 1vh; margin-left: 4vw; font-size: 4vh; line-height: 10vh;"
					    class="btn btn-outline-secondary" 
						href="/">Назад</a>
					<a 
						style="height: 12vh; width: 20vw; margin: 1vh; margin-left: 4vw; font-size: 4vh; line-height: 10vh;"
					    class="btn btn-outline-secondary" 
						href="/nekopage/@(nekoClient.GetNekos().Length <= nekoPost.Id + 1 ? 0 : nekoPost.Id + 1)">Следом</a>
				</div>
			</div>
			<strong class="text-primary" style="margin: 2vh">@nekoPost.Name</strong>
		</div>

		<div class="card-body">
			<p>Цена: @nekoPost.Price₽</p>
			<ul>
				@foreach(var spec in nekoPost.Specifications)
				{
					<li>@spec.Key - @spec.Value</li>
				}
			</ul>
			<p>@nekoPost.Description</p>
		</div>

		<div class="photo-scroll-container card-footer">
			<div class="photo-scroll-content">
				@foreach (string photo in nekoPost.Photos)
				{
					<img src="@photo" alt="ЭЭЭЭЭ" style="height: 25vh;">
				}
			</div>
		</div>
	</div>
}


@code {
	[Parameter]
	public required string pageId { get; set; }

	private NekoPost? nekoPost = null;

	protected override void OnInitialized()
	{
		nekoPost = nekoClient.GetNekos().FirstOrDefault(n => n.Id == Convert.ToInt32(pageId));
	}

	private void Buy() 
	{
		walletClient.Account -= nekoPost!.Price;
		nekoClient.AddToCart(nekoPost);
		nekoClient.DeletePost(nekoPost!.Id);
		nav.NavigateTo("/");
	}
}
